<!DOCTYPE html>
<html>
<head>
  <title>BlogM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>BlogM - Got thoughts? Blog-em</h1>
  <% if current_user %><h4> Welcome <%= current_user.fullname() %> </h4> <% end %>
  <nav>
    <hr>
      <%= link_to "Home", root_path %>
      <%= link_to "Tags", tags_path %>
      <% if !(current_user) %>
        <%= link_to "New User", new_user_path() %>
        <%= link_to "Log In", login_path() %>
      <% end %>
      <% if current_user %>
        <%= link_to "Add Post", new_post_path() %>
        <%= link_to "Log Out", logout_path() %>
      <% end %>
    <hr>
  </nav>

<%= yield %>

</body>
</html>
